<!-- Cheese Photo Grid -->
<div class="row">
  <div class="column">
    <img src="/assets/images/cheese/brie.jpg" style="width:100%">
    <img src="/assets/images/cheese/cheddar.jpg" style="width:100%">
    <img src="/assets/images/cheese/feta.jpg" style="width:100%">
    <img src="/assets/images/cheese/brie.jpg" style="width:100%">
    <img src="/assets/images/cheese/cheddar.jpg" style="width:100%">
    <img src="/assets/images/cheese/swiss.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/assets/images/cheese/feta.jpg" style="width:100%">
    <img src="/assets/images/cheese/cheddar.jpg" style="width:100%">
    <img src="/assets/images/cheese/feta.jpg" style="width:100%">
    <img src="/assets/images/cheese/brie.jpg" style="width:100%">
    <img src="/assets/images/cheese/cheddar.jpg" style="width:100%">
    <img src="/assets/images/cheese/swiss.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/assets/images/cheese/feta.jpg" style="width:100%">
    <img src="/assets/images/cheese/cheddar.jpg" style="width:100%">
    <img src="/assets/images/cheese/feta.jpg" style="width:100%">
    <img src="/assets/images/cheese/brie.jpg" style="width:100%">
    <img src="/assets/images/cheese/cheddar.jpg" style="width:100%">
    <img src="/assets/images/cheese/swiss.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/assets/images/cheese/feta.jpg" style="width:100%">
    <img src="/assets/images/cheese/cheddar.jpg" style="width:100%">
    <img src="/assets/images/cheese/feta.jpg" style="width:100%">
    <img src="/assets/images/cheese/brie.jpg" style="width:100%">
    <img src="/assets/images/cheese/cheddar.jpg" style="width:100%">
    <img src="/assets/images/cheese/swiss.jpg" style="width:100%">
  </div>
</div>
