<!--<app-cheese></app-cheese>-->

<!-- Cheese Photo Grid -->
<div class="row cheese-grid">
  <div class="column">
    <img src="/assets/images/cheese/asiago.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/brie.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/camembert.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/cheddar.jpg" class="cheese img-thumbnail ">
    <img src="/assets/images/cheese/colby-jack.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/feta.jpg" class="cheese img-thumbnail">
  </div>
  <div class="column">
    <img src="/assets/images/cheese/gorgonzola.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/gouda.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/mozzarella.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/romano.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/roquefort.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/swiss.jpg" class="cheese img-thumbnail">
  </div>
  <div class="column">
    <img src="/assets/images/cheese/asiago.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/brie.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/camembert.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/cheddar.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/colby-jack.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/feta.jpg" class="cheese img-thumbnail">
  </div>
  <div class="column">
    <img src="/assets/images/cheese/gorgonzola.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/gouda.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/mozzarella.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/romano.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/roquefort.jpg" class="cheese img-thumbnail">
    <img src="/assets/images/cheese/swiss.jpg" class="cheese img-thumbnail">
  </div>
</div>
